.user-box {
  align-items: center;
  background-color: #f48c06;
  color: rgb(15, 8, 139);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-box a {
  color: rgb(15, 8, 139);
}
